%h2 Hello.
%h3 We've got loads of free stuff .. local to you.

%p.signup
  You can 
  %a{:href => "/signup"}Signup now
  here and start finding free stuff near you.
  
%p.sign_in
  Already have an account? 
  %a{:href => "/login"}Sign in 
  and get going ..
  
%p.made_by
  %strong made by
  %a{:href => "http://twitter.com/sebbo"}@sebbo
  %a{:href => "http://twitter.com/crafty"}@crafty
  %a{:href => "http://twitter.com/alexbutcher"}@alexbutcher
  %span.amp &amp;
  %a{:href => "http://twitter.com/mrjase"}@mrjase